.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.title {
    font-size: 32px;
    color: #fff;
}

.button {
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 15px;
    height: 38px;
    /* width: 168px; */
    padding: 8px 12px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 24px;
    }

    .button {
        font-size: 14px;
    }

    .navbar {
        /* height: 40px; */
        padding-top: 24px;
        padding-bottom: 40px;
        gap: 0;
    }
}